<div class="page">
  <div class="page-content">
    <tic-game-state [state]="gameState"></tic-game-state>
    <div class="game">
        <div class="panel panel-left">

        </div>

        <tic-game-board [board]="gameBoard"
                        [state]="gameState"
                        (onCellClick)="turn($event)"></tic-game-board>

        <div class="panel panel-right">
          <div class="right-nav">
            <div class="right-nav__top">
              <button class="button-primary right-nav__item" routerLink="/game/two-players">Restart</button>
            </div>
            <div class="right-nav__bottom">
              <button class="button-secondary right-nav__item" routerLink="/game">Main menu</button>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>