.preland {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    &-content {
        text-align: center;

        .play-btn {
            width: 220px;
        }
    }

    &-content {
        margin-bottom: 5%;
    }
}

.logo {
    text-transform: uppercase;
    font-weight: 100;

    &-2 {
        color: #7fbb00;
        font-size: 2em;

        &-1 {
            position: relative;
            bottom: 3px;
            color: #7fbb00;
            margin: 0 5px;
        }
    }

    &-3 {
        font-size: 0.6em;
        color: #7fbb00;
    }
}