.game-board {
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-top: 1px solid #dfdfdf;
}

.game-cell {
    width: 80px;
    height: 80px;
    background-color: #f5f5f5;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    font-weight: bold;

    &:hover {
        transform: scale(1.08);
    }

    &.disabled {
        pointer-events: none;
        border: none;
        font-size: 38px;
    }

    &.active {
        color: #7fbb00;
        border: 1px solid;
        background-color: #fafafa;
        animation-name: bounceIn;
        animation-duration: 250ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.5) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }