.game-board {
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-top: 1px solid #dfdfdf;
}

.game-cell {
    width: 80px;
    height: 80px;
    background-color: #f5f5f5;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;

    &:hover {
        transform: scale(1.08);
    }

    &.disabled {
        pointer-events: none;
        border: none;
    }
}